.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    width: 500px;
}

.login-container {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin-bottom: 150px;
}

.login-title {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

    .form-group label {
        font-size: 14px;
        margin-bottom: 5px;
        color: #555;
    }

    .form-group input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

.login-button {
    padding: 10px 20px;
    font-size: 20px;
    color: black;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, border 0.3s ease;
}

    .login-button:hover {
        border: 1px solid black; 
    }

.login-footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register-button {
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid transparent;
    font-weight: bold;
    color: #333;
    background-color: white;
    border: none;
    border-radius: 5px;
}

.register-button:hover {
    border: 1px solid black;
}
